*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

:root {

  --main-color: #e50914;
  --border-color: #222;
  --background-color: black;
  --light-color: white;
  --card-color: #303030;

  --font-family: 'Roboto', sans-serif;
  --title-font-size: 3.125rem;
  --subtitle-font-size: 1.625rem;
  --footer-font-size: 0.85rem;
}



body {
  font-family: var(--font-family);
  color:  var(--light-color);

}



.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
  z-index: 2;
}

.header img{
  width: 7rem;
  z-index: 2;
}
.side_header{
  z-index: 2;
}

.landing_section .main_txt h1 {
  font-size: var(--title-font-size);
  max-width: 640px;
  text-align: center;
}
.landing_section .main_txt p {
  margin: 0 auto 1rem auto;
}

.landing_section {
  position: relative;
  padding: 4rem 4rem 6rem 4rem ;
  border-bottom: 8px solid var(--border-color);
}

.landing_section .main_txt {
  z-index: 1;
  margin: auto;
  display: grid;
  justify-items: center;
  padding: 6rem 4rem;
  position: relative;
  width: 100%;
  max-width: 950px;
  gap: 1rem;
}
.landing_section .img-background {
  z-index: 0;
  position: absolute;
  top: -160px;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-background img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.img-background::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0 , 0 , 0.6 );
  box-shadow: inset 120px 100px 250px black, inset -120px -100px 250px black;
}

.email_wrap{
  display: flex;
  flex-direction: column;
}
.email_bar{
  display: flex;
}

.email_wrap p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
/*SECTIONS*/
section {
  background: var(--background-color);
  display: flex;
  align-items: center;
  padding: 70px 45px;
  border-bottom: 8px solid var(--border-color);
  justify-content: center;
}
section .section-img{
  width: 48%;
  max-width: 640px;
}

section .section-text {
  max-width: 450px;
}
section .section-text h1{
 font-size: var(--title-font-size);
}
section .section-text p {
  font-size: var(--subtitle-font-size);
}

.download_section,
.kids_section {
  flex-direction: row-reverse;
}

.section-img {
  position: relative;
}
.tv_section .section-img img {
  position: relative;
  z-index: 4;
}
.section-img .tv_animation {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 74%;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-img video {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.devices_section .section-img img{
  position: relative;
  z-index: 4;
}
.devices_section .section-img .tv_animation2 {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 64%;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.download_section .section-img {
  position: relative;
}
/*DOWNLOAD CARD*/

.card_animation {
  display: flex;
  align-items: center;
  border: 3px solid var(--border-color);
  background: var(--background-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  justify-content: space-between;
  position: absolute;
  width: 70%;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.card_animation .card_pic img{
  height: 4rem;
}
.card_animation .card_gif img{
  width: 3rem;
  height: 3rem;
  margin: auto 1rem auto 2rem;
}
.card_aside{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card_aside .card_txt{
  line-height: 1.5rem;
}
.card_aside .card_txt .text0 {
  font-weight: bold;
  font-size: 1.2rem;
}
.card_aside .card_txt .text1{
  color: #0071eb;
}

.questions_section{
  flex-direction: column;
  gap: 2rem;
  
}
.questions_section h1 {
  font-size: var(--title-font-size);
  margin-bottom: 2rem;
}
.questions_section ul {
  display: grid;
  gap: 0.5rem;
  max-width: 815px;
  width: 90%;
}

.questions_section ul li button,
.questions_section ul li div{
  background: var(--card-color);
  border: none;
  color: var(--light-color);
  padding: 1rem 2rem 1rem 2rem;
  font-size: var(--subtitle-font-size);
}
.questions_section ul li button{
  margin-bottom: 2px;
}
.questions_section ul li button {
  cursor: pointer;
  width: -webkit-fill-available;
}
.qa_bt{
  display: flex;
  justify-content: space-between;
}

.qa_card {

  visibility: hidden;
}

.qa_card.active{
  display: block;
  visibility: visible;
}

/*BUTTONS*/

.sign_in_btn{
  display: inline-block;
  background: var(--main-color);
  color: var(--light-color);
  padding: 0.4em 0.75em;
  border-radius: 0.15rem;
  margin-left: 1.25rem;
}
.input_btn{
  background: var(--main-color);
  color: var(--light-color);
  border: none;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-flex;
  height: 60px;
  align-items: center;
  width: 15rem;
  margin: auto;
  min-width: 130px;
  justify-content: center;
}
.input_btn:hover {
  background: red;
} 
input{
 padding: 0.5em;
 height: 60px;
 width: 100%;
}
select{
padding: 0.4em 0.75em;
color: var(--light-color);
background: rgba(0, 0 , 0 , 0.6 );
}